<div class="row justify-content-center fixed-bottom" style="height: 15vh; background-color: #4D68C9; color: white;">
    <div class="row justify-content-center align-items-center">
        <div class="col-3 text-center">
            <a href="*"><img src="./images/instagram.svg" style="width: 2em; filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"></a>
            <a href="*"><img src="./images/discord.svg" style="width: 2em; filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"></a>
            <a href="*"><img src="./images/twitter.svg" style="width: 2em; filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"></a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center">
            <a href="tos.html" style="text-decoration: none; color: white;">Terms of Service</a>
            <a style="font-size: 1.3em"> • </a>
            <a href="privacy.html" style="text-decoration: none; color: white;">Privacy Policy</a>
        </div>
    </div>
    <div class="row justify-content-center">
        Copyright 2021 Symply Ventures
    </div>
</div>