<div class="row justify-content-center mt-3" style="height: 10vh">
    <div class="col-4">
        <a href="">
            <img src="./images/logoandbrand.png" style="width: 30%">
        </a>
    </div>
    <div class="col-7 text-end">
        <a href="*" class="bolded" style="font-size: 1em; text-decoration: none; color: black;">Sign In</a>
        <a style="font-size: 1.3em"> | </a>
        <a href="*" class="bolded" style="font-size: 1em; text-decoration: none; color: black;">Contact Us</a>
    </div>
</div>