<div class="row justify-content-center">
    <div class="col-2 mt-5">
        <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
            <a class="navbar-brand" href="#">Terms of Service</a>
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#item-1">1. Lorem Ipsum</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-1-1">1.1 Lorem Ipsum</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-2">1.1 Lorem Ipsum</a>
                </nav>
                <a class="nav-link" href="#item-2">2. Lorem Ipsum</a>
                <a class="nav-link" href="#item-3">3. Lorem Ipsum</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-3-1">3.1 Lorem Ipsum</a>
                    <a class="nav-link ms-3 my-1" href="#item-3-2">3.2 Lorem Ipsum</a>
                </nav>
            </nav>
        </nav>
    </div>
    <div class="col-4 mt-5" style="overflow-y: scroll; height: 60vh; color: gray">
        <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
            <h4 id="item-1">Item 1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Sed risus ultricies tristique nulla aliquet. Sed augue lacus
                viverra vitae congue eu consequat ac felis. Diam maecenas ultricies mi eget. Pellentesque elit
                eget gravida cum sociis natoque penatibus et magnis. Sagittis eu volutpat odio facilisis. Nibh
                praesent tristique magna sit. Eu ultrices vitae auctor eu augue ut lectus. Sit amet consectetur
                adipiscing elit ut. Viverra mauris in aliquam sem fringilla ut morbi. Nunc sed augue lacus
                viverra vitae congue eu consequat. Turpis in eu mi bibendum neque egestas congue quisque.
                Sodales ut etiam sit amet nisl purus in mollis. Nibh sed pulvinar proin gravida hendrerit
                lectus. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Morbi tristique senectus
                et netus et malesuada fames ac turpis. Aliquet risus feugiat in ante metus dictum at tempor
                commodo. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Feugiat scelerisque
                varius morbi enim nunc faucibus a.

                Porta lorem mollis aliquam ut porttitor. Ut morbi tincidunt augue interdum velit. Tempor commodo
                ullamcorper a lacus vestibulum sed arcu. Libero justo laoreet sit amet cursus. Etiam dignissim
                diam quis enim lobortis scelerisque fermentum dui faucibus. Magna etiam tempor orci eu lobortis
                elementum nibh tellus molestie. Scelerisque felis imperdiet proin fermentum leo. Ut sem viverra
                aliquet eget sit amet tellus. Aliquam purus sit amet luctus venenatis lectus. Arcu felis
                bibendum ut tristique et egestas. Sem nulla pharetra diam sit amet. Proin sed libero enim sed
                faucibus turpis in. Gravida rutrum quisque non tellus orci. Neque vitae tempus quam pellentesque
                nec nam aliquam sem. Egestas quis ipsum suspendisse ultrices gravida. Porta nibh venenatis cras
                sed felis eget velit aliquet. Neque laoreet suspendisse interdum consectetur libero id faucibus.
                Quam viverra orci sagittis eu. Diam vulputate ut pharetra sit amet aliquam id diam. Morbi enim
                nunc faucibus a.</p>
            <h5 id="item-1-1">Item 1-1</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Sed risus ultricies tristique nulla aliquet. Sed augue lacus
                viverra vitae congue eu consequat ac felis. Diam maecenas ultricies mi eget. Pellentesque elit
                eget gravida cum sociis natoque penatibus et magnis. Sagittis eu volutpat odio facilisis. Nibh
                praesent tristique magna sit. Eu ultrices vitae auctor eu augue ut lectus. Sit amet consectetur
                adipiscing elit ut. Viverra mauris in aliquam sem fringilla ut morbi. Nunc sed augue lacus
                viverra vitae congue eu consequat. Turpis in eu mi bibendum neque egestas congue quisque.
                Sodales ut etiam sit amet nisl purus in mollis. Nibh sed pulvinar proin gravida hendrerit
                lectus. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Morbi tristique senectus
                et netus et malesuada fames ac turpis. Aliquet risus feugiat in ante metus dictum at tempor
                commodo. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Feugiat scelerisque
                varius morbi enim nunc faucibus a.

                Porta lorem mollis aliquam ut porttitor. Ut morbi tincidunt augue interdum velit. Tempor commodo
                ullamcorper a lacus vestibulum sed arcu. Libero justo laoreet sit amet cursus. Etiam dignissim
                diam quis enim lobortis scelerisque fermentum dui faucibus. Magna etiam tempor orci eu lobortis
                elementum nibh tellus molestie. Scelerisque felis imperdiet proin fermentum leo. Ut sem viverra
                aliquet eget sit amet tellus. Aliquam purus sit amet luctus venenatis lectus. Arcu felis
                bibendum ut tristique et egestas. Sem nulla pharetra diam sit amet. Proin sed libero enim sed
                faucibus turpis in. Gravida rutrum quisque non tellus orci. Neque vitae tempus quam pellentesque
                nec nam aliquam sem. Egestas quis ipsum suspendisse ultrices gravida. Porta nibh venenatis cras
                sed felis eget velit aliquet. Neque laoreet suspendisse interdum consectetur libero id faucibus.
                Quam viverra orci sagittis eu. Diam vulputate ut pharetra sit amet aliquam id diam. Morbi enim
                nunc faucibus a.</p>
            <h5 id="item-1-2">Item 1-2</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Sed risus ultricies tristique nulla aliquet. Sed augue lacus
                viverra vitae congue eu consequat ac felis. Diam maecenas ultricies mi eget. Pellentesque elit
                eget gravida cum sociis natoque penatibus et magnis. Sagittis eu volutpat odio facilisis. Nibh
                praesent tristique magna sit. Eu ultrices vitae auctor eu augue ut lectus. Sit amet consectetur
                adipiscing elit ut. Viverra mauris in aliquam sem fringilla ut morbi. Nunc sed augue lacus
                viverra vitae congue eu consequat. Turpis in eu mi bibendum neque egestas congue quisque.
                Sodales ut etiam sit amet nisl purus in mollis. Nibh sed pulvinar proin gravida hendrerit
                lectus. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Morbi tristique senectus
                et netus et malesuada fames ac turpis. Aliquet risus feugiat in ante metus dictum at tempor
                commodo. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Feugiat scelerisque
                varius morbi enim nunc faucibus a.

                Porta lorem mollis aliquam ut porttitor. Ut morbi tincidunt augue interdum velit. Tempor commodo
                ullamcorper a lacus vestibulum sed arcu. Libero justo laoreet sit amet cursus. Etiam dignissim
                diam quis enim lobortis scelerisque fermentum dui faucibus. Magna etiam tempor orci eu lobortis
                elementum nibh tellus molestie. Scelerisque felis imperdiet proin fermentum leo. Ut sem viverra
                aliquet eget sit amet tellus. Aliquam purus sit amet luctus venenatis lectus. Arcu felis
                bibendum ut tristique et egestas. Sem nulla pharetra diam sit amet. Proin sed libero enim sed
                faucibus turpis in. Gravida rutrum quisque non tellus orci. Neque vitae tempus quam pellentesque
                nec nam aliquam sem. Egestas quis ipsum suspendisse ultrices gravida. Porta nibh venenatis cras
                sed felis eget velit aliquet. Neque laoreet suspendisse interdum consectetur libero id faucibus.
                Quam viverra orci sagittis eu. Diam vulputate ut pharetra sit amet aliquam id diam. Morbi enim
                nunc faucibus a.</p>
            <h4 id="item-2">Item 2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Sed risus ultricies tristique nulla aliquet. Sed augue lacus
                viverra vitae congue eu consequat ac felis. Diam maecenas ultricies mi eget. Pellentesque elit
                eget gravida cum sociis natoque penatibus et magnis. Sagittis eu volutpat odio facilisis. Nibh
                praesent tristique magna sit. Eu ultrices vitae auctor eu augue ut lectus. Sit amet consectetur
                adipiscing elit ut. Viverra mauris in aliquam sem fringilla ut morbi. Nunc sed augue lacus
                viverra vitae congue eu consequat. Turpis in eu mi bibendum neque egestas congue quisque.
                Sodales ut etiam sit amet nisl purus in mollis. Nibh sed pulvinar proin gravida hendrerit
                lectus. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Morbi tristique senectus
                et netus et malesuada fames ac turpis. Aliquet risus feugiat in ante metus dictum at tempor
                commodo. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Feugiat scelerisque
                varius morbi enim nunc faucibus a.

                Porta lorem mollis aliquam ut porttitor. Ut morbi tincidunt augue interdum velit. Tempor commodo
                ullamcorper a lacus vestibulum sed arcu. Libero justo laoreet sit amet cursus. Etiam dignissim
                diam quis enim lobortis scelerisque fermentum dui faucibus. Magna etiam tempor orci eu lobortis
                elementum nibh tellus molestie. Scelerisque felis imperdiet proin fermentum leo. Ut sem viverra
                aliquet eget sit amet tellus. Aliquam purus sit amet luctus venenatis lectus. Arcu felis
                bibendum ut tristique et egestas. Sem nulla pharetra diam sit amet. Proin sed libero enim sed
                faucibus turpis in. Gravida rutrum quisque non tellus orci. Neque vitae tempus quam pellentesque
                nec nam aliquam sem. Egestas quis ipsum suspendisse ultrices gravida. Porta nibh venenatis cras
                sed felis eget velit aliquet. Neque laoreet suspendisse interdum consectetur libero id faucibus.
                Quam viverra orci sagittis eu. Diam vulputate ut pharetra sit amet aliquam id diam. Morbi enim
                nunc faucibus a.</p>
            <h4 id="item-3">Item 3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Sed risus ultricies tristique nulla aliquet. Sed augue lacus
                viverra vitae congue eu consequat ac felis. Diam maecenas ultricies mi eget. Pellentesque elit
                eget gravida cum sociis natoque penatibus et magnis. Sagittis eu volutpat odio facilisis. Nibh
                praesent tristique magna sit. Eu ultrices vitae auctor eu augue ut lectus. Sit amet consectetur
                adipiscing elit ut. Viverra mauris in aliquam sem fringilla ut morbi. Nunc sed augue lacus
                viverra vitae congue eu consequat. Turpis in eu mi bibendum neque egestas congue quisque.
                Sodales ut etiam sit amet nisl purus in mollis. Nibh sed pulvinar proin gravida hendrerit
                lectus. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Morbi tristique senectus
                et netus et malesuada fames ac turpis. Aliquet risus feugiat in ante metus dictum at tempor
                commodo. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Feugiat scelerisque
                varius morbi enim nunc faucibus a.

                Porta lorem mollis aliquam ut porttitor. Ut morbi tincidunt augue interdum velit. Tempor commodo
                ullamcorper a lacus vestibulum sed arcu. Libero justo laoreet sit amet cursus. Etiam dignissim
                diam quis enim lobortis scelerisque fermentum dui faucibus. Magna etiam tempor orci eu lobortis
                elementum nibh tellus molestie. Scelerisque felis imperdiet proin fermentum leo. Ut sem viverra
                aliquet eget sit amet tellus. Aliquam purus sit amet luctus venenatis lectus. Arcu felis
                bibendum ut tristique et egestas. Sem nulla pharetra diam sit amet. Proin sed libero enim sed
                faucibus turpis in. Gravida rutrum quisque non tellus orci. Neque vitae tempus quam pellentesque
                nec nam aliquam sem. Egestas quis ipsum suspendisse ultrices gravida. Porta nibh venenatis cras
                sed felis eget velit aliquet. Neque laoreet suspendisse interdum consectetur libero id faucibus.
                Quam viverra orci sagittis eu. Diam vulputate ut pharetra sit amet aliquam id diam. Morbi enim
                nunc faucibus a.</p>
            <h5 id="item-3-1">Item 3-1</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Sed risus ultricies tristique nulla aliquet. Sed augue lacus
                viverra vitae congue eu consequat ac felis. Diam maecenas ultricies mi eget. Pellentesque elit
                eget gravida cum sociis natoque penatibus et magnis. Sagittis eu volutpat odio facilisis. Nibh
                praesent tristique magna sit. Eu ultrices vitae auctor eu augue ut lectus. Sit amet consectetur
                adipiscing elit ut. Viverra mauris in aliquam sem fringilla ut morbi. Nunc sed augue lacus
                viverra vitae congue eu consequat. Turpis in eu mi bibendum neque egestas congue quisque.
                Sodales ut etiam sit amet nisl purus in mollis. Nibh sed pulvinar proin gravida hendrerit
                lectus. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Morbi tristique senectus
                et netus et malesuada fames ac turpis. Aliquet risus feugiat in ante metus dictum at tempor
                commodo. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Feugiat scelerisque
                varius morbi enim nunc faucibus a.

                Porta lorem mollis aliquam ut porttitor. Ut morbi tincidunt augue interdum velit. Tempor commodo
                ullamcorper a lacus vestibulum sed arcu. Libero justo laoreet sit amet cursus. Etiam dignissim
                diam quis enim lobortis scelerisque fermentum dui faucibus. Magna etiam tempor orci eu lobortis
                elementum nibh tellus molestie. Scelerisque felis imperdiet proin fermentum leo. Ut sem viverra
                aliquet eget sit amet tellus. Aliquam purus sit amet luctus venenatis lectus. Arcu felis
                bibendum ut tristique et egestas. Sem nulla pharetra diam sit amet. Proin sed libero enim sed
                faucibus turpis in. Gravida rutrum quisque non tellus orci. Neque vitae tempus quam pellentesque
                nec nam aliquam sem. Egestas quis ipsum suspendisse ultrices gravida. Porta nibh venenatis cras
                sed felis eget velit aliquet. Neque laoreet suspendisse interdum consectetur libero id faucibus.
                Quam viverra orci sagittis eu. Diam vulputate ut pharetra sit amet aliquam id diam. Morbi enim
                nunc faucibus a.</p>
            <h5 id="item-3-2">Item 3-2</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Sed risus ultricies tristique nulla aliquet. Sed augue lacus
                viverra vitae congue eu consequat ac felis. Diam maecenas ultricies mi eget. Pellentesque elit
                eget gravida cum sociis natoque penatibus et magnis. Sagittis eu volutpat odio facilisis. Nibh
                praesent tristique magna sit. Eu ultrices vitae auctor eu augue ut lectus. Sit amet consectetur
                adipiscing elit ut. Viverra mauris in aliquam sem fringilla ut morbi. Nunc sed augue lacus
                viverra vitae congue eu consequat. Turpis in eu mi bibendum neque egestas congue quisque.
                Sodales ut etiam sit amet nisl purus in mollis. Nibh sed pulvinar proin gravida hendrerit
                lectus. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Morbi tristique senectus
                et netus et malesuada fames ac turpis. Aliquet risus feugiat in ante metus dictum at tempor
                commodo. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Feugiat scelerisque
                varius morbi enim nunc faucibus a.

                Porta lorem mollis aliquam ut porttitor. Ut morbi tincidunt augue interdum velit. Tempor commodo
                ullamcorper a lacus vestibulum sed arcu. Libero justo laoreet sit amet cursus. Etiam dignissim
                diam quis enim lobortis scelerisque fermentum dui faucibus. Magna etiam tempor orci eu lobortis
                elementum nibh tellus molestie. Scelerisque felis imperdiet proin fermentum leo. Ut sem viverra
                aliquet eget sit amet tellus. Aliquam purus sit amet luctus venenatis lectus. Arcu felis
                bibendum ut tristique et egestas. Sem nulla pharetra diam sit amet. Proin sed libero enim sed
                faucibus turpis in. Gravida rutrum quisque non tellus orci. Neque vitae tempus quam pellentesque
                nec nam aliquam sem. Egestas quis ipsum suspendisse ultrices gravida. Porta nibh venenatis cras
                sed felis eget velit aliquet. Neque laoreet suspendisse interdum consectetur libero id faucibus.
                Quam viverra orci sagittis eu. Diam vulputate ut pharetra sit amet aliquam id diam. Morbi enim
                nunc faucibus a.</p>
        </div>
    </div>
</div>